* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-bg-color: #FFE16B;
}

body {
    background: var(--main-bg-color);
    font-family: Montserrat, Calibri;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-bubble {
    border-radius: 50px 15px;
    background: #FFF;
    padding: 30px 20px;
    border: solid 1px #e6e6e6;
}

.home-bubble div {
    padding: 20px;
}

.home-bubble p {
    font-family: Segoe UI, sans-serif;
    font-size: 18px;
    font-style: italic;
    line-height: 2;
    text-indent: 15px;
}

.home-bubble img {
    opacity: 0.65;
    transition-duration: 0.5s;
    box-shadow: 5px 10px 18px #888888;
}

.home-bubble img:hover {
    opacity: 1;
}

.carousel {
    margin: 0px 20px;
    box-shadow: 2px 5px 25px #E6E6E6;
}

.carousel-caption {
    background: rgba(120, 120, 120, 0.7);
    transition-duration: 0.4s;
    padding: 15px 15px 5px;
    font-family: Calibri, sans-serif;
}

.carousel-caption:hover {
    background: rgba(120, 120, 120, 0.9);
}

.carousel-caption p {
    color: #bebebe;
    font-size: 17px;
}

.cite {
    color: #808080;
    font-size: 12px;
    font-family: Arial;
    transition-duration: 0.5s;
}

.cite:hover {
    color: #bebebe;
}

.form-wrapper {
    max-width: 400px;
    background: #FFF;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

.error-text {
    color: red;
}

.form {
    font-family: Inter, sans-serif;
}

#brand {
    font-family: Yellowtail, Helvetica;
    font-size: 26px;
}

#submit {
    padding: 3px 5px;
    background: #E5E7E6;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    border: solid 1px gray;
    transition-duration: 0.4s;
}

#submit:hover {
    background: #bfbfbf;
}

h1 {
    text-align: center;
}

.main-heading {
    font-family: Lobster, Helvetica;
    font-weight: normal;
    transition-duration: 0.2s;
}

.main-heading:hover {
    font-weight: bold;
    cursor: pointer;
}

.label-heading {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background: #46344E;
    padding: 15px;
    border-radius: 15px 50px 0px 0px;
}

div#lower-section {
    display: grid;
    padding: 25px;
    background: #b9acae;
    border-radius: 0px 0px 15px 50px;
    margin-bottom: 20px;
    border: solid 0.5px gray;
}

.card {
    width: 100%;
    font-family: Segoe UI, sans-serif;
    text-align: center;
    background: #9B786F;
    color: white;
    margin-top: 20px;
    box-shadow: 2px 4px 30px #e6e6e6;
}

.card img {
    width: 40%;
    margin: auto;
}

.about-bubble {
    border-radius: 50px 15px;
    background: #FFF;
    padding: 45px 35px;
    box-shadow: 5px 10px 18px -4px #888888;
    margin: 30px;
    line-height: 1.7;
}

.about-bubble h3 {
    font-family: Inter, sans-serif;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 0.8rem;
}

.about-bubble ul {
    line-height: 2;
}

#project-name {
    font-style: italic;
    font-weight: bold;
    padding-right: 3px;
}

.copy-all {
    user-select: all;
    color: #0000e6;
    text-decoration: none;
}

.iconify {
    text-decoration: none;
    color: black;
    margin-left: 5px;
    font-size: 18px;
}

h3.text-end ~ p {
    text-align: right;
}

h3#left-align ~ p {
    text-align: left;
}

.img-thumbnail {
    position: relative;
    left: 100%;
    transform: translateX(-100%);
}

.learn-more {
    padding: 20px;
    background: whitesmoke;
    text-align: center;
    margin-bottom: 25px;
    border-radius: 5px;
    border: solid 0.5px black;
}

@media screen and (min-width: 760px) {
    div#lower-section {
        padding: 25px 20px 25px 8px;
        grid-template-columns: 55% 45%;
        align-items: center;
    }
    .card {
        margin-top: 10px;
    };
}

@media screen and (min-width: 1000px) {
    .home-bubble {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .label-heading {
        font-size: 1.5em;
    };
}