{% extends "base.html" %}

{% block content %}
    <div class="center-container mt-3">
        <div class="form-wrapper">
            <div class="form-container">
                <h1 class="form">Sign Up</h1><br>
                <form class="form" action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.username.label }}<br>
                        {{ form.username(size=32) }}<br>
                        {% for error in form.username.errors %}
                        <span class="error-text">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.email.label }}<br>
                        {{ form.email(size=32) }}<br>
                        {% for error in form.email.errors %}
                        <span class="error-text">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(size=32) }}<br>
                        {% for error in form.password.errors %}
                        <span class="error-text">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.confirm.label }}<br>
                        {{ form.confirm(size=32) }}<br>
                        {% for error in form.confirm.errors %}
                        <span class="error-text">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ form.submit() }}</p>
                </form>
                <div class="form-text">
                    Already have an account? <a href="{{ url_for('login') }}">Login here</a>.
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
